*{
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
}

#Main{
    font-family: ubuntu;
    font-weight: 500;
}

#hotbar{
    display: flex;
    justify-content: center;
    gap: 10rem;
    list-style-type: none;
}

#txtl{
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    transition: all ease 0.5s;
}

#a{
    transition: all ease 0.5s;
}

#b{
    transition: all ease 0.5s;
}

#c{
    transition: all ease 0.5s;
}

#a:hover{
    transform: translateY(10px);
}

#b:hover{
    transform: translateY(10px);
}

#c:hover{
    transform: translateY(10px);
}


#Aboutme{
    display: grid;
    justify-content: center;
    text-align: center;
    color: beige;
    margin-top: 30px;
    
}

#pfp{
    height: 500px;
    width: 500px;
    border-radius: 50%;
}



#animtxt{
   margin-top: 10px; 
}

#js{
    color: yellow;
}

#Skills{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    
}

#lang{
    font-family: "Press Start 2P", cursive;
    color: #b8f01d;
    
}

.Card{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
   
}

#pyc{
    height: 350px;
    width: 200px;
    border-radius: 25px;
    background-color: white;
    transition: all ease 0.5s;
}

#pyc:hover{
    transform: translateY(-20px);
    box-shadow: 0 20px 20px white;
}

#pyc ul{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
    list-style-type: none;
}

#pyc ul li span{
    color: blueviolet;
}

#pyc #img{
    font-size: 10vw;
    margin-top: 20px;
}

#htmc{
    height: 350px;
    width: 200px;
    border-radius: 25px;
    background-color: white;
    transition: all ease 0.5s;
}

#htmc:hover {
    transform: translateY(-20px);
    box-shadow: 0px 20px 20px white;
}

#htmc ul{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
    list-style-type: none;
}

#htmc ul li span{
    color: blueviolet;
} 

#htmc #img{
    font-size: 10vw;
    margin-top: 70px;
}

#cssc{
    height: 350px;
    width: 200px;
    border-radius: 25px;
    background-color: white;
    transition: all ease 0.5s;
}

#cssc:hover {
    transform: translateY(-20px);
    box-shadow: 0px 20px 20px white;
}

#cssc ul{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
    list-style-type: none;
}

#cssc ul li span{
    color: blueviolet;
}

#cssc #img{
    font-size: 10vw;
    margin-top: 70px;
}

#cplsc{
    height: 350px;
    width: 200px;
    border-radius: 25px;
    background-color: white;
    transition: all ease 0.5s;
}

#cplsc:hover {
    transform: translateY(-20px);
    box-shadow: 0px 20px 20px white;
}

#cplsc ul{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
    list-style-type: none;
}

#cplsc ul li span{
    color: blueviolet;
}

#cplsc #img{
    font-size: 10vw;
    margin-top: 20px;
}

.logo{
    display: flex;
    justify-content: center;
    font-size: 100px;
    gap: 5vw;
    margin-top: 15vh;
}