* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

#cursor {
  border-radius: 50%;
  z-index: 10;
  height: 20px;
  width: 20px;
  border: 2px solid white;
  position: fixed;
  pointer-events: none;
}

#sml_cursor {
  border-radius: 50%;
  z-index: 10;
  height: 10px;
  width: 10px;
  background-color: white;
  position: fixed;
  pointer-events: none;
  box-shadow: red 0px 0px 10px, red 0px 0px 20px, red 0px 0px 30px;
}

body {
  background-color: #150F30;
}

#Landing_page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

#Profile_Picture img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-self: center;
}

#About_me {
  height: 100vh;
  width: 100%;
  padding-top: 5vh;
  color: rgba(255, 255, 255, 0.815);
}

#About_me p {
  margin: auto;
  padding-top: 1rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
}

#card_me {
  background-color: #0f0a27;
  padding: 1rem;
  border: white 2px solid;
  transition: all 0.3s ease;
}

#card_me:hover {

  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.719),
    10px 10px 0px rgba(255, 255, 255, 0.719),
    0px 0px 0px rgba(255, 255, 255, 0.719);
  transform: translateX(-10px);
}

#card_me h2 {
  display: flex;
  align-items: center;
  color: wheat;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
}

#about_me {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

#card_me:first-child {
  grid-row: span 2;
}

#card_me ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
}

#quote {
  display: flex;
  align-items: center;
  justify-content: center;
}

#quote p {
  font-size: 2rem;
}

#quotediv {
  grid-column: span 2;
}

#Skills {
  height: 100vh;
  width: 100%;
  padding-top: 5vh;
  font-family: 'Space Grotesk', monospace;
  color: rgba(255, 255, 255, 0.815);
}

#grid {
  position: relative;
  width: 600px;
  height: 400px;
  padding-top: 10vh;
  margin: auto;
}

#imgskill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#imgskill img {
  width: 100px;
  border-radius: 50%;
}

.icon {
  position: absolute;
  padding: 10px 20px;
  font-size: 3rem;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

.top-left {
  top: 100px;
  left: -100px;
}

.top-right {
  top: 20px;
  right: 20px;
}

.bottom-left {
  bottom: 5rem;
  left: 20px;
}

.bottom-right {
  bottom: -5rem;
  right: -2rem;
}

.bottom-middle{
  bottom: -10rem;
  left: 40%;
}